<nav class="navbar">
  <%= button_to "Register Team", new_competition_team_path(@competition), params: {competition_id: @competition.id}, method: :get %>
</nav>
<section id="competition-info">
  Name: <%= @competition.name %>
  Location: <%= @competition.location %>
  Sport: <%= @competition.sport %>
  Average Players Age: <%= @competition.avg_age_of_players %>
</section>

<% @competition.teams.each do |team| %>
  <p id="team-<%= team.id %>">
    <%= link_to team.nickname %>
    <%= team.hometown %>
  </p>
<% end %>
