<!DOCTYPE html>
<html>
  <head>
    <title>B2Final</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if !flash.empty? %>
      <article class="message is-info" id="flash-message">
        <div class="message-body">
          <% flash.each do |type, messages| %>
            <% if messages.respond_to?('each') %>
              <% messages.each do |message| %>
                <p><%= message %></p>
              <% end %>
            <% else %>
              <p><%= messages %></p>
            <% end %>
          <% end %>
        </div>
      </article>
    <% end %>
    <%= yield %>
  </body>
</html>
